/*remove number arrows in form*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


/*adjust radio button color*/
[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:before, [type="radio"].with-gap:checked + span:after {
  border: 2px solid #ef5350  !important;
}

[type="radio"]:checked + span:after, [type="radio"].with-gap:checked + span:after {
  background-color: #ef5350  !important;
}


/* label focus color */
 .input-field input:focus + label {
   color: black !important;
 }

 .material-icons.active{
 	color: black !important;
 }

 /* label underline focus color */
 .row .input-field input:focus {
   border-bottom: 1px solid black !important;
   box-shadow: 0 1px 0 0 black !important
 }


h1,h2,h3,h4,h5{
	color:#353535;
}

p{
	color:#757778;
}

@font-face {
  font-family: 'ayylmao';
  src: URL('assets/ayylmao.ttf') format('truetype');
}

a,p,h1,h2,h3,h4,h5{
	font-family: "ayylmao", "Roboto", sans-serif;
    font-weight: 300;
}


/* Create a sticky/fixed navbar */
#navbar {
  overflow: hidden;
  background-color: #ef5350;
  padding: 50px 10px; /* Large padding which will shrink on scroll */
  transition: 0.3s;
  position: fixed; /* Sticky/fixed navbar */
  width: 100%;
  top: 0;
  z-index: 99;
}

#navbar a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
  transition: 0.3s;
}

#navbar #logo {
  font-size: 35px;
  transition: 0.3s;
}

#navbar a:hover {
  /*background-color: #d32f2f;*/
  /*color: black;*/
}

#navbar a.active {
  background-color: dodgerblue;
  /*color: white;*/
}

#navbar-right {
  float: right;
}

/* Add responsiveness - on screens less than 580px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important; 
  }
  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }
  #navbar-right {
    float: none;
  }
}